@charset "UTF-8";

//リセット用CSS
@use "setting/reset";

// 色などの変数読み込み
@use "setting/variables" as var;

//全体用CSS
@use "common/common";

//共通用CSS
@use "common/utility";

// コンポーネント用CSS
@use "./components/header";
@use "./components/footer";
@use "./components/sidebar";
@use "./components/searchform";
@use "./components/content";
@use "./components/comments";
@use "./components/singleRelated";
@use "./components/post";

//各ページ用CSS
@use "./pages/home";
@use "./pages/single";
@use "./pages/category";
@use "./pages/tag";
@use "./pages/search";
@use "./pages/page404";

//ページネーション
.navigation {
  text-align: center;
  padding-top: 40px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var.$ColorGray3;
  font-size: 2rem;
  color: var.$ColorBlack1;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s all;
}

.page-numbers:hover {
  background-color: var.$ColorMain;
  color: var.$ColorWhite1;
}

.page-numbers.current {
  background-color: var.$ColorMain;
  color: var.$ColorWhite1;
}

.next.page-numbers {
  width: 56px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.3s all;
}

.next.page-numbers:hover {
  background-color: var.$ColorMain;
  color: var.$ColorWhite1;
}

.prev.page-numbers {
  width: 56px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.3s all;
}

.prev.page-numbers:hover {
  background-color: var.$ColorMain;
  color: var.$ColorWhite1;
}
