@use "../setting/variables" as var;

.u-content {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.u-contentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 20px;
  overflow-wrap: break-word;

  @include var.mq(tab) {
    display: block;
  }
}

.u-contentOverflowWrap {
  overflow-wrap: break-word;
}

.u-contentPaddingTopBottom {
  padding-top: 40px;
  padding-bottom: 80px;
}

.u-contentPaddingTop {
  padding-top: 40px;
}

.u-contentFlex {
  display: flex;
  justify-content: center;

  @include var.mq(tab) {
    flex-direction: column-reverse;
  }
}

.u-headingLv1 {
  padding-top: 80px;
  font-size: 3rem;
  letter-spacing: 0.341em;
  color: var.$ColorBlack1;
  font-weight: bold;
  font-family: var.$font-family1;
  line-height: 1.75;
  text-align: center;
}

.u-headingLv2 {
  font-size: 1.8rem;
  letter-spacing: 0.341em;
  color: var.$ColorBlack1;
  font-weight: bold;
  font-family: var.$font-family1;
  text-align: center;
  line-height: 1.75;
}
