@use "../setting/variables" as var;

.u-content {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  // @include s.mq(l-pc) {
  //   padding-right: 0;
  //   padding-left: 0;
  //   width: 90%;
  // }
}

.u-contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 40px;
  overflow-wrap: break-word;
}

.u-contentOverflowWrap {
  overflow-wrap: break-word;
}

.u-contentPaddingTopBottom {
  padding-top: 40px;
  padding-bottom: 80px;
}

.u-contentFlex {
  display: flex;
  justify-content: center;
}

.u-headingLv1 {
  font-size: 3rem;
  letter-spacing: 0.341em;
  color: var.$ColorBlack1;
  font-weight: bold;
  font-family: var.$font-family1;
  line-height: 1.75;
}

.u-headingLv2 {
  font-size: 1.8rem;
  letter-spacing: 0.341em;
  color: var.$ColorBlack1;
  font-weight: bold;
  font-family: var.$font-family1;
  text-align: center;
  line-height: 1.75;
}
