@charset "UTF-8";

/* ブレイクポイント============================== */

$breakpoints: (
  "x-sp": "screen and (max-width: 360px)",
  "sp": "screen and (max-width: 480px)",
  "x-tab": "screen and (max-width: 600px)",
  "tab": "screen and (max-width: 768px)",
  "l-tab": "screen and (max-width: 950px)",
  "pc": "screen and (max-width: 1025px)",
  "l-pc": "screen and (max-width: 1280px)",
  "xl-pc": "screen and (max-width: 1500px)",
  "xxl-pc": "screen and (max-width: 1800px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//カラー
$ColorMain: #e6adb7;
$ColorSub: #8cfae6;
$ColorBlue1: #1a73e8;
$ColorBlue2: #1a63a7;
$ColorRed1: red;
$ColorBlack1: #333333;
$ColorBlack2: rgba(51, 51, 51, 0.9);
$ColorBlack3: rgba(51, 51, 51, 0.7);
$ColorWhite1: #ffffff;
$ColorWhite2: #f9f9f9;
$ColorGray1: #808080;
$ColorGray2: #bebebe;
$ColorGray3: #f0f0f0;

//フォントファミリー
$font-family1: Yu Gothic, Meiryo, MS PGothic, Noto Sans JP, sans-serif;
$font-family2: Helvetica, Yu Gothic, Meiryo, MS PGothic, Noto Sans JP,
  sans-serif;

/* フォントサイズ============================== */
html {
  font-size: 62.5%;
  /*   @media screen and (max-width:$tab){
      font-size: 50%;
    } */

  // @include mq(l-pc) {
  //   font-size: 52.5%;
  // }

  // @include mq(tab) {
  //   font-size: 40%;
  // }
}
