@use "../setting/variables" as var;

/*******************************
| comments(comments.php)
*******************************/

.avatar {
  display: none;
}

.comments__menu {
  margin-top: 20px;
  background-color: var.$ColorWhite1;
  border-radius: 30px;
  overflow: hidden;
}

.comments__headingLv3 {
  height: 28px;
  color: var.$ColorWhite1;
  background: var.$ColorBlack1;
  text-align: center;
}

.comments__content {
  padding: 20px;
  border-bottom: 1px solid var.$ColorGray1;
}

.comments__list:last-child .comment__content {
  border-bottom: 0;
}

.comment-respond {
  margin-top: 40px;
  background-color: var.$ColorWhite1;
  border-radius: 30px;
  overflow: hidden;
}

.comments__form {
  padding: 20px;
  background-color: var.$ColorWhite1;
}

.comments__title {
  height: 28px;
  color: var.$ColorWhite1;
  background: var.$ColorBlack1;
  text-align: center;
}

.commentsNotesBefore {
  margin-top: 20px;
}

.comments__formCommentText {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.comments__formCommentLabel {
  font-weight: bold;
}

.comments__formTextarea {
  margin-top: 4px;
  padding: 4px;
  border: solid 1px var.$ColorBlack1;
  max-width: 400px;
  width: 100%;
}

.comments__formNameText {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.commentsNotesAfter {
  margin-top: 20px;
}

.comments__requiredText {
  color: var.$ColorWhite1;
  background-color: var.$ColorRed1;
  padding: 2px 4px;
  margin-left: 12px;
}

.comments__formNameInput {
  max-width: 400px;
  width: 100%;
  margin-top: 4px;
  padding: 4px;
  border: solid 1px var.$ColorBlack1;
}

.comments__formEmailText {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.comments__formEmailInput {
  max-width: 400px;
  width: 100%;
  margin-top: 4px;
  padding: 4px;
  border: solid 1px var.$ColorBlack1;
}

.comments-form-cookies-consent {
  margin-top: 20px;
}

.form-submit {
  display: block;
  margin-top: 20px;
  padding: 4px;
  width: 180px;
  background-color: var.$ColorBlack1;
  border-radius: 30px;
  color: var.$ColorWhite1;
  text-align: center;
  transition: all 0.3s;
}

.form-submit:hover {
  background-color: var.$ColorMain;
}
