@use "../setting/variables" as var;

/*******************************
| comments(comments.php)
*******************************/

.avatar {
  display: none;
}

.comments h3 {
  height: 28px;
  color: var.$ColorWhite1;
  background: var.$ColorBlack1;
  text-align: center;
}

.comment {
  margin-top: 20px;
  background-color: var.$ColorWhite1;
  border-radius: 30px;
  overflow: hidden;
}

.comment:first-child {
  margin-top: 0;
}

.comment__content {
  padding: 20px;
}

.comment-respond {
  margin-top: 40px;
  background-color: var.$ColorWhite1;
  border-radius: 30px;
  overflow: hidden;
}

.comments__form {
  padding: 20px;
  background-color: var.$ColorWhite1;
}

.comments__title {
  height: 28px;
  color: var.$ColorWhite1;
  background: var.$ColorBlack1;
  text-align: center;
}

.commentsNotesBefore {
  margin-top: 20px;
}

.comments__formTextarea {
  padding: 4px;
  margin-top: 20px;
  border: solid 1px var.$ColorBlack1;

  max-width: 400px;
  width: 100%;
}

.commentsNotesAfter {
  margin-top: 20px;
}

.comments__formNameInput {
  width: 80%;
  padding: 4px;
  margin-top: 20px;
  border: solid 1px var.$ColorBlack1;
}

.comments__formEmailInput {
  width: 80%;
  padding: 4px;
  margin-top: 20px;
  border: solid 1px var.$ColorBlack1;
}

.comments-form-cookies-consent {
  margin-top: 20px;
}

.form-submit {
  display: block;
  margin-top: 20px;
  padding: 4px;
  width: 180px;
  background-color: var.$ColorBlack1;
  border-radius: 30px;
  color: var.$ColorWhite1;
  text-align: center;
  transition: all 0.3s;
}

.form-submit:hover {
  background-color: var.$ColorMain;
}
