@use "../setting/variables" as var;

/*******************************
| content(content.php)
*******************************/
.content__wrap {
  background-color: var.$ColorWhite1;
  border-radius: 30px;
}

.content__headingWrap {
  background-color: var.$ColorBlack1;
  padding: 12px 20px;
  border-radius: 20px 20px 0 0;
}

.content__DateAndTitleText {
  font-weight: bold;
  font-family: var.$font-family1;
  color: var.$ColorWhite1;
  padding-top: 4px;
}

.content__heading {
  color: var.$ColorWhite1;
  text-align: left;
}

.content__body {
  padding: 40px 20px;
}

.content__postWrap {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.content__postBox {
  margin-right: auto;
  width: 45%;
  font-weight: bold;
  font-size: 1.7rem;
  font-family: var.$font-family1;
  background: var.$ColorWhite1;
  line-height: 1.75;
  border-radius: 30px;
  overflow: hidden;
}

.content__postBox:nth-child(2n) {
  width: 45%;
  margin-right: 0;
  margin-left: auto;
}

.content__postText {
  color: var.$ColorWhite1;
  background: var.$ColorBlack1;
  text-align: center;
}

.content__postLink {
  display: block;
  padding: 20px;
  transition: 0.3s all;
}

.content__postLink:hover {
  opacity: 0.7;
}
