@use "../setting/variables" as var;

/*******************************
| post(post.php)
*******************************/
.post {
  width: 100%;

  @include var.mq(tab) {
    margin-top: 40px;
  }
}

// .post:first-child {
//   @include var.mq(tab) {
//     margin-top: 20;
//   }
// }

.post__linkPic {
  overflow: hidden;
  display: block;
}

.post__linkPic .attachment-post-thumbnail {
  aspect-ratio: 8 / 5;
  object-fit: cover;
  transition: 0.3s all;
  overflow: hidden;
}

.post__card:hover .attachment-post-thumbnail {
  transform: scale(1.05, 1.05);
}

.post__linkPic .post__noImage {
  aspect-ratio: 8 / 5;
  object-fit: cover;
  transition: 0.3s all;
  overflow: hidden;
}

.post__card:hover .post__noImage {
  transform: scale(1.05, 1.05);
}

.post__body {
  padding: 8px;
}

.post__date {
  transition: 0.3s all;
}

.post:hover .post__date {
  opacity: 0.7;
}

.post__heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var.$ColorBlue1;
  font-size: 2rem;
  transition: 0.3s all;
}

.post:hover .post__heading {
  opacity: 0.7;
}

.post__text {
  transition: 0.3s all;
}

.post:hover .post__text {
  opacity: 0.7;
}
