@use "../setting/variables" as var;

/*******************************
| searchform(searchform.php)
*******************************/
.searchform {
  font-size: 81%;
  position: relative;
  width: 150px;
  height: auto;
}
.searchform__inputText {
  height: 22px;
  width: 150px;
  padding: 0 55px 0 10px;
  border: 1px solid #333333;
  position: absolute;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 11px;
}
.searchform__submitButton {
  position: absolute;
  right: 0;
  width: 60px;
  height: 22px;
  color: var.$ColorWhite1;
  line-height: 22px;
  background-color: var.$ColorBlue1;
  border-radius: 0px 11px 11px 0px / 0px 11px 11px 0px;
  cursor: pointer;
}
