@use "../setting/variables" as var;

/*******************************
| sidebar(sidebar.php)
*******************************/

.sidebar {
  display: block;
  margin-left: 20px;
  width: 320px;
  flex-shrink: 1;
}

.sideBar__categoryTitle {
  font-size: 2rem;
  font-weight: bold;
}

.sideBar__categoryMenu {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sideBar__categoryLink {
  font-size: 16px;
  transition: 0.3s all;
}

.sideBar__categoryLink:hover {
  opacity: 0.7;
}

.sideBar__tagsTitle {
  font-size: 2rem;
  font-weight: bold;
}

.wp-tag-cloud {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.sideBar__tagLink {
  padding-right: 8px;
  transition: 0.3s all;
}

.sideBar__tagLink:hover {
  opacity: 0.7;
}
